extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Generate report
        h3 Keep in mind to launch two redis instances: default port 6379 and 6000

        form(method='POST' action='/report')
          div.form-group
            label(for='key') Redis key
            input.form-control(type='text' id='key' placeholder='*content-coba-cache-%2*web*country%3dgb*' name='key')
          div.form-group
            label(for='exclude') Exclude keys
            input.form-control(type='text' id='exclude' placeholder='comma separated keywords' name='exclude')
          button.btn.btn-primary(type='submit') Generate report

    .row
        h3 Reports
        ul
          each val in files
            li
              a(href='/pdf/'+ val ) #{val}
